<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtdxpo17S0JYdaJ0S39owXLfaQit-FLow</string>
	<key>GCM_SENDER_ID</key>
	<string>281682315467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>caapps-Can-Chat</string>
	<key>PROJECT_ID</key>
	<string>can-chat-815b8</string>
	<key>STORAGE_BUCKET</key>
	<string>can-chat-815b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281682315467:ios:b63241dbfa86e1b755b34e</string>
</dict>
</plist>